### Vagrant ###
.vagrant/
/.vagrant
*.box

### Laravel ###
/vendor
node_modules/
npm-debug.log
bootstrap/compiled.php
/public/hot
app/storage/
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

### PhpStorm ###
.idea/
/.idea
